@import "reset";
@import "var";
@import "fonts";



html {
    font-size: 62.5%;
    box-sizing: border-box;

    body {

        // Navigation menu start

.navbar-custom {
    background: #0080AF;
    color: #fff;
    height: 7rem;

    .container {
        width: 90%;
        position: relative;

        .navbar-left {
            width: 15rem;
            padding: 1.5rem 1.5rem;

        }

        .navbar-right {
            position: absolute;
            top: 35%;
            right: 20px;

            .nav-items {
                display: flex;

                .nav-item {
                    padding: 0 1.5rem;

                    a {
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        height: 60px;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                    }
                }

            }
        }
    }
}

// Navigation menu end

#banner {
    background: url("https://res.cloudinary.com/matadorsite/image/upload/v1586789436/MPH2/page/about-us/1920x660/15863481176OTtl_l.jpg");
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        width: 75%;

        .row {
            position: relative;

            .title-one {
                position: absolute;
                top: 440px;
                text-transform: uppercase;
                font-size: 45px;
                font-weight: 500;
                text-align: left;
                color: #ffffff;
                letter-spacing: 1px;

            }
        }
    }
}

.why-us {
    background: #F3F3F3;

    .container {
        width: 75%;
        padding: 6.5rem 0;

        .row {
            .title {
                margin: 0 0 25px 0;
                font-size: 30px;
                color: #000000;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }

        p {
            color: rgba(0, 0, 0, 0.75);
            margin-bottom: 25 px;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.5px;
        }
    }
}

    }
}

.boardmembers {

    .container {
        width: 75%;
        padding: 4.5rem 0;
        .row {
            .biog

        }
    }
}











@import "home-responsive";